<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="DEFAULT_PATTERN" value="%d{(yyyy-MM-dd -- HH:mm:ss.SSS)} [%t] |-%-5level [%logger{36}.%M:%-3line]     %msg%n"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <!--Save log inside a file with a file-rotater with a max of 10 files with each 1 GB-->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>appdata/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>dyndns-refresh-bot.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <!-- each archived file, size max 10MB -->
            <maxFileSize>10MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
            <totalSizeCap>200MB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${DEFAULT_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>